:root {
  --primary: #141311;
  --secondary: #e9ebea;
  --bg: #212121;
  --brown: #884a39;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--secondary);
  background-color: var(--bg);
  height: 200rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--brown);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  display: flex;
}

.navbar .navbar-logo img {
  width: 5rem;
  display: flex;
}

.navbar .navbar-list a {
  color: var(--secondary);
  margin: 0 1rem;
  display: inline-block;
  font-size: 1.2rem;
}

.navbar .navbar-list a:hover{
  color: var(--brown);
  transition: 0.4s;
}

.navbar .navbar-list a::after{
  content: "";
  display: block;
  border-bottom: 0.4rem solid var(--brown);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-form {
  display: flex;
  align-items: center;
}

.navbar .navbar-form a {
  color: var(--text);
  margin: 0px 1rem;
}

.navbar .navbar-form .form {
  font-size: 1.1rem;
  display: inline-block;
  visibility: hidden;
}

.navbar .navbar-form .form.active-form{
    display: inline;
    visibility: visible;
  }

.navbar .navbar-form .form .input-form {
  border: solid 1px var(--primary);
  border-radius: 0.2rem;
  padding: 0.2rem;
  margin-right: 0.1rem;
  border: none;
}

.navbar .navbar-form .form .btn-search {
  background-color: var(--brown);
  padding: 0.2rem;
  width: 3.5rem;
  border-radius: 0.3rem;
  color: var(--secondary);
  border: none;
}

.navbar .navbar-form .form .btn-search:hover{
  background-color: #783d2d;
}

.navbar .navbar-form a:hover{
  color: var(--brown);
  transition: 0.4s;
}

#hamburger-menu {
  display: none;
}

/* Start Hero Section */
.hero {
  background-image: url(../image/bg-hero.jpg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(33, 33, 33, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.hero .content {
  padding: 1.5rem 7%;
  max-width: 40rem;
}

.hero .content h1 {
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .sp1 {
  background: -webkit-linear-gradient(#eee, #884a39);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .content .sp2 {
  background: -webkit-linear-gradient(#eee, #212121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero .content p {
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: 100;
  mix-blend-mode: lighten; 
  margin-top: 1.2rem;
  color: var(--secondary);
}

.hero .content .cta{
  display: inline-block;
  margin-top: 2.5rem;
  color: var(--secondary);
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  background-color: var(--brown);
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .cta:hover{
  background-color: #783d2d;
}
/* End Hero Section */

/* MEDIA QUERIES */
/* LAPTOP */
@media (max-width: 1366px) {
  html {
    font-size: 80%;
  }
}

/* TABLET */
@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-list {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--secondary);
    width: 25rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-list.active {
    right: 0;
  }

  .navbar .navbar-list a {
    color: var(--primary);
    display: block;
    margin: 2rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-list a::after {
    transform-origin: 0 0;
    padding-bottom: 1.3rem;
  }

  .navbar .navbar-list a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .navbar-form .form .input-form {
    border: solid 1px var(--primary);
    border-radius: 0.2rem;
    padding: 0.2rem;
    margin-right: 0.1rem;
    border: none;
    width: 12rem;
  }

  .navbar .navbar-form{
    font-size: 1.5rem;
  }
  
}

/* MOBILE PHONE */
@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
}
