:root{
    --primary: #141311;
    --secondary: #e9ebea;
    --bg: #cecfd1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
    background-color: var(--bg);
}

nav{
    padding: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .navbar-logo{
    font-size: 1rem;
}

nav .navbar-list a{
    color: var(--primary) ;
    margin: 0px 1rem;
    text-decoration: none;
}

nav .navbar-form{
    display: flex;
    align-items: center;
}

nav .navbar-form a{
    color: var(--text) ;
    margin:0px 1rem;
}

nav .navbar-form form input{
    border: solid 1px var(--primary);
    border-radius: 0.2rem;
    padding: 0.3rem;
    margin-right: 0.1rem;
    border: none;
}